@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

* {
  -webkit-user-drag: none;
  user-select: none;
}

.container-content{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.greetings{
  display: flex;
  flex-direction: row;
}

.blob {
  position: relative;
  flex: 1;
  transform: rotate(-5deg);
}
.blob img{
  margin-top: -50px;
  margin-left: 100px;
  width: 90%;
}
.blob p {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: black;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  line-height: 1.2em;
}
.blob .hello {
  font-family: 'Caveat';
  color: black;
}
  
.blob .name {
  font-family: 'Caveat';
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}
.blob .developer{
    font-family: 'Caveat';
    color: black;
    font-size: 50px;
}

.image-developer {
    flex: 1;
    max-width: 50%;
    background-image: url('../src/assets/blob.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50px center;
    margin-bottom: 150px;
}
  
.image-developer img {
    margin-left: 250px;
    border-radius: 20px;
    width: 40%;
    height: auto;
    box-shadow: 16px 17px 33px -11px rgba(41, 41, 41, 0.75);
    -webkit-box-shadow: 16px 17px 33px -11px rrgba(41, 41, 41, 0.75);
    -moz-box-shadow: 16px 17px 33px -11px rgba(41, 41, 41, 0.75);
}

/*  */
.about{
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}

.about-card-background {
  background-color: #F98D2B;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
}

.about-card-background img {
  z-index: 5;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  object-position: center left;
  position: relative;
  min-width: 35rem;
  max-width: 50rem;
  width: 40;
  height: 40rem;
}

.about-card-content {
  margin-left: 37rem;
  margin-right: 10rem;
  position: absolute;
  padding: 20px;
}

.about-card-content h2 {
  font-family: 'Caveat';
  font-size: 100px;
}

.divide{
  margin-bottom: 20px;
}

.about-card-content p {
  font-family: 'Caveat';
  font-size: 25px;
}

/* Skills */

.text-skills{
  font-family: 'Caveat';
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin-bottom: 10rem;
}

.skills{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}