:root{
    --bg-color: #1f242d;
    --sec-bg-color: #323946;
    --thrd-bg-color: #323946d9;
    --main-color: #F98D2B;
    --text-color: #fff;
}

.skills-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--sec-bg-color);
    z-index: 1;
}

.title-skills{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 80px;
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 70px;
    z-index: 2;
}

.divide-skills{
    position: relative;
    border: 3px solid rgb(241, 74, 74);
    width: 200px;
    left: 10px;
    z-index: 3;
}