.container-header{
    position: fixed;
    width: 100%;
    z-index: 5;
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.2s ease-in-out;
}

.text-header {
    position: absolute;
    left: 50px;
    font-size: 15px;
    font-weight: bold;
    margin: 11px;
    color: white;
}

.router-header a{
    margin: 20px;
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: orange;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
}

.router-header a:hover {
  border-bottom: 2px solid orange;
}